<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444162633334-lm875u2rjcl0d4kvclkhctm1qhkiquhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444162633334-lm875u2rjcl0d4kvclkhctm1qhkiquhd</string>
	<key>API_KEY</key>
	<string>AIzaSyAr1MAmYGEJCWtInB2DsXqUxu-9HW8Gy4w</string>
	<key>GCM_SENDER_ID</key>
	<string>444162633334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notificacionalvi</string>
	<key>PROJECT_ID</key>
	<string>notificationreactnative-e2742</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationreactnative-e2742.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444162633334:ios:df0e14e37ed7d213d07957</string>
</dict>
</plist>